.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.w-nav {
  position: relative;
  background: #dddddd;
  z-index: 1000;
}


.navbar {
  position: fixed;
  top:0;
  display: block;
  height:60px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
}

.w-nav:before, .w-nav:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-nav:after {
  clear: both;
}

.w-container {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
}

.w-container:before, .w-container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-container:after {
  clear: both;
}

.w-nav-brand {
  height: 70%;
  display: flex;
  align-items: center;
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
}

.h-logo {
  max-height: 50px;
  max-width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.kCEMFk {
  margin-left: 10px;
  
  padding: 10px;
}
.kCEMFk img {
  height: 30px;
  width: 30px;
  margin-top: 0;
}

.w-nav-menu {
  position: relative;
  float: right;
}

.w-nav-menu {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Inter, sans-serif;
  color: #5f6368;
  font-weight: 600;
}

.w-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.w-nav-overlay {
  position: absolute;
  overflow: hidden;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.all-container {
  margin: 2.5% auto -10px;
  max-width: 1000px;
}

.chef-container{
  height: auto;
  flex: 1 1 50%;
  margin: 30px 0;
}
.company-container { 
  flex: 1 1 50%;
  height: auto; 
  margin: 30px 0;
}

.company-card {
  display: flex; 
  
  margin-top: 20px;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
}
.image-2 {
  height: 75px;
  max-width: 75px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.logo.mobile {
  display: none;
  
}
.text-span{
  margin-top: 30px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  
}

.recommended-venue {
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
  font-family: 'Inter beta', sans-serif;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  font-size: 16px;
}

.text-span-3 {
  font-family: Inter, sans-serif;
  color: #f63a3a;
  font-weight: 600;
  
}
.flex-container-row { 
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-item-logo{
  flex-grow: 1.5;
  margin-bottom: auto;
  padding-top: 3%; 
}
.flex-item-info{
  flex-grow: 1;
  
}



.logo {
  margin: auto;
  max-width: 420px;
}
.pic {
  width: 100%;
}

.pic-container {
 width: 100%;

}

.intro-container {
  margin-top: 10px;
  margin-left: 40px;
}
.app-store-wrapper {
  cursor: pointer;
}

.app-store-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}

.app-store {
margin-top: 0px; 
display: flex;
}

.play-store {
  display: flex;
  margin-left: 25px;
}
.prelist-word {
  padding: 20px;
  width: 100%;
  border: 0;
  color: #5f6368;
  outline: 2px solid transparent;
  transition: 300ms ease outline;
}
.prelist-submit {
  background: #E34B44;
  flex-shrink: 0;
  color: #FFF;
  padding: 15px 20px;
  font-family: Inter, sans-serif;
  margin-left: 15px;
  transition: 300ms ease opacity;
}

.download-container {
  height: 100%;
}
.download-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}

.h3 {
  margin-top: 0px;
  font-family: Inter, sans-serif;
  color: #FFF;
  text-align: center;
  letter-spacing: 0px;
}
.download-paragraph {
  margin-top: 5px;
  margin-bottom: 30px;
  font-family: 'Inter beta', sans-serif;
  color: #5f6368;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, html input[type="button"], input[type="reset"] {
  border: 0;
  cursor: pointer;
  -webkit-appearance: button;
}

.h1 {
  font-family: Inter, sans-serif;
  color: #5f6368;
  font-size: 46px;
  line-height: 52px;
  font-weight: 700;
  letter-spacing: -1px;
}

.home-headline {
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 20px;
  margin-top: 50px;
}

.home-text-block {
  font-family: 'Inter', sans-serif;
  color: #5f6368;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.6em;
}

.download {
  height: auto;
  padding: 80px 0px;
  background-color: #ffcc05;
}

/* Footer */
.footer {
  height: 80px;
  background-color: #f8f9fa;
  box-shadow: 0 -1px 5px 1px rgba(0, 0, 0, .1);
}

.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}


.footer-wrapper-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.link:hover {
  color: hsla(213.33333333333331, 4.52%, 39.02%, 0.70);
}

a:active, a:hover {
  outline: 0;
}

.link {
  margin-left: 40px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Inter, sans-serif;
  color: #5f6368;
  font-weight: 600;
  text-decoration: none;
}
.bBdLAF {
  margin-left: 30px;
}

.bBdLAF img {
  height: 30px;
  width: 30px;

}

.bBdLAF {
  padding: 10px;
}


.text-block {
  margin-left: 30px;
  font-family: 'Inter beta', sans-serif;
  color: #5f6368;
  font-style: normal;
  font-weight: 300;
}

.hood-food-guide-logo.mobile {
  
  display: none;
}

@media (max-width: 1000px){
  .all-container {
    margin: 4% 3% -20px;
    
}
.chef-container{  
  margin: 30px 0 30px 30px;
}
.company-container { 
  margin: 30px 0 30px 30px;
}  

.h-logo {
  margin-left: 50px;
}

.company-card {
  display: flex; 
  margin-top: 20px;
  flex-direction: column;
  align-items: flex-start;
} 
.home-headline {
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: 10px;
  margin-top: 0px;
}

.home-text-block {
  font-family: 'Inter', sans-serif;
  color: #5f6368;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.6em;
}


.app-store-wrapper {
  margin-top: 10px;
}
.flex-item-logo {
  flex-grow: 0.5;
}


}


@media (max-width: 769px){
.h-logo{
  margin-left: 10px;
}
.all-container {
    margin: auto;
    
}

.intro-container {
  margin: auto;
}
.company-container, .chef-container {
  margin: auto;
}

  .brand.w--current {
    margin-left: 20px;
}
  .w-container {
    
    max-width: 728px;
}
  .flex-item-logo {
    flex-grow: 1;
    margin-bottom: auto;
    padding-top: 20%;
    margin: auto;
}
.flex-item-info {
    flex-grow: 1;
}
  .app-store-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


  .recommended-venue {
    margin-right: 25px;
    margin-bottom: 10px;
    margin-left: 25px;
    
    font-size: 18px;
  
  }
  .flex-container-row { 
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

  }

  .company-container {
    margin-top: 0; 
}
  .company-card {
    height: auto;
  }
  .intro-container {
    margin: 10px;
}
  .flex-item-row {
    display: flex; 
    flex: 1 0 auto;
    align-self: center;
    width: 100%;
    padding: 0.5em;
  }

  
  .home-headline {
    font-size: 38px;
    line-height: 1.3;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
  }
  
  .home-text-block {
    margin-top: 32px;
    font-family: 'Inter', sans-serif;
    color: #5f6368;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.6em;
    text-align: center;
  }
  
  .hood-food-guide-logo.mobile {
    margin-left: 20px;
    max-width: 100%;
    display: inline-block;
  }

  .hood-food-guide-logo {  
    display: none;
}

.h1 {
  font-family: Inter, sans-serif;
  color: #5f6368;
  font-size: 42px;
  font-weight: 700;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  
}


.logo {
  display: none;
  margin-bottom: 20px;
}
.logo.mobile {
  display: none;
  
}

.download {
  margin-top: 30px;
  padding: 60px 0px;
  
}

.download-wrapper {
  margin: 20px;
}

}

@media (max-width: 415px){
.h-logo {
    margin-left: 10px;
}
.w-nav-menu {
  margin-right: 10px;
}
.home-headline {
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 20px;
  margin-top: 50px;
}

.footer-wrapper-top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hood-food-guide-logo.mobile {
  margin-right: 0px;
  margin-bottom: 6px;
}
.footer {
  height: 270px;
}

.link {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 0px;
}

.text-block {
  margin-top: 2px;
  margin-left: 0px;
}

.bBdLAF {
  margin-left: 0;
}
.hood-food-guide-logo.mobile {
  
  display: none;
}

.hood-food-guide-logo {  
  margin-right: 0px;
  margin-bottom: 6px;
  display: inline-block;
}
}

@media (max-width: 360px){
  .all-container {
    margin: 3px;
}
  .chef-container {
    margin: 20px auto;
}
.h-logo {
    margin-left: 5px;
}
.w-nav-menu {
  margin-right: 5px;
}
.recommended-venue {
  margin-right: 10px;
  margin-left: 10px;
}
.home-headline {
  font-size: 28px;
  line-height: 1.3;
 
}
.home-text-block {
  
  font-size: 0.8em;
  
}
.play-store {
  margin-left: 10px;
}
}

